@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
/*
#9e0059
#390099
#ffbd00
#ff0054
#ff5400
*/

:root{
    --corFundo1: #9e0059;
    --corFundo2: #390099;
    --corFundo3: #ff0054;
    --corFundo4: #ff5400;
    --cortitulo1: #ffbd00;
    --titulo: 'Unbounded', cursive
}

::-webkit-scrollbar{
    width: 0px;
}

body, html{
    min-width: 100vw;
    min-height: 100vh;
}